@page "/adminaddbooks"
<!-- AdminDashboard.razor -->
<div class="dashboard-background">
	<!-- Your dashboard content here -->
@rendermode InteractiveServer
<div class="page">
	<div class="top-row px-4 bg-dark text-white">
		<AdminMenu></AdminMenu>
	</div>
</div>
<div class="row">
	<div class="col-3"></div>
	<div class="col-6 rounded-1 bg-gradient">
		@if (selectedBook != null)
		{
			<h4 class="mt-3 text-center">Edit Book</h4>
			<EditForm Model="@selectedBook" OnValidSubmit="UpdateBook" FormName="EditBookForm">
				<DataAnnotationsValidator />
				<ValidationSummary />

				<div class="mb-3">
					<label class="form-label">Title</label>
					<InputText class="form-control" @bind-Value="selectedBook.Title" />
				</div>

				<div class="mb-3">
					<label class="form-label">Author</label>
					<InputText class="form-control" @bind-Value="selectedBook.AuthorName" />
				</div>

				<div class="mb-3">
					<label class="form-label">Price</label>
					<InputNumber class="form-control" @bind-Value="selectedBook.Price" />
				</div>

				<div class="mb-3">
					<label class="form-label">Stock Quantity</label>
					<InputNumber class="form-control" @bind-Value="selectedBook.StockQuantity" />
				</div>

				<div class="mb-3">
					<label class="form-label">Book Type</label>
					<InputSelect class="form-control" @bind-Value="selectedBook.TypeId">
						<option value="">-- Select Type --</option>
						@foreach (var type in bookTypes)
						{
							<option value="@type.TypeId">@type.TypeName</option>
						}
					</InputSelect>
				</div>

				<div class="mb-3">
					<label class="form-label">Published Date</label>
					<InputDate class="form-control" @bind-Value="selectedBook.PublishedDate" />
				</div>

				<button class="btn btn-primary" type="submit">Update</button>
				<button class="btn btn-secondary ms-2" type="button" @onclick="CancelEdit">Cancel</button>
			</EditForm>
		}
		else
		{

			<h4 class="mt-3 text-center">Add Book</h4>
			<EditForm Model="@book" OnValidSubmit="SaveBook" FormName="AddBookForm">
				<DataAnnotationsValidator />
				<ValidationSummary />

				<div class="mb-3">
					<label>Title:</label>
					<InputText class="form-control" @bind-Value="book.Title" />
				</div>

				<div class="mb-3">
					<label>Author:</label>
					<InputText class="form-control" @bind-Value="book.AuthorName" />
				</div>

				<div class="mb-3">
					<label>Price:</label>
					<InputNumber class="form-control" @bind-Value="book.Price" />
				</div>

				<div class="mb-3">
					<label>Stock Quantity:</label>
					<InputNumber class="form-control" @bind-Value="book.StockQuantity" />
				</div>

				<div class="mb-3">
					<label class="form-label">Book Type</label>
					<InputSelect class="form-control" @bind-Value="book.TypeId">
						<option value="">-- Select Type --</option>
						@foreach (var type in bookTypes)
						{
							<option value="@type.TypeId">@type.TypeName</option>
						}
					</InputSelect>
				</div>

				<div class="mb-3">
					<label>Published Date:</label>
					<InputDate class="form-control" @bind-Value="book.PublishedDate" />
				</div>

				<button class="btn btn-primary" type="submit">Save</button>
				<button class="btn btn-primary" type="reset">Reset</button>

				@if (!string.IsNullOrWhiteSpace(message))
				{
					<div class="alert alert-success mt-3">@message</div>
				}
			</EditForm>
		}

	</div>
	<div class="col-3"></div>
</div>


<div class="row">
	<div class="col-1"></div>
	<div class="col-10">
		@if (lstBooksDto == null)
		{
			<p><em>Loading...</em></p>
		}
		else
		{
			<table class="table table-bordered">
				<thead class="table-light">
					<tr>
						<th style="width:20%">Title</th>
						<th style="width:20%">Author</th>
						<th style="width:15%">Price</th>
						<th style="width:15%">Stock</th>
						<th style="width:16%">Book Name</th>
						<th style="width:15%"></th>
					</tr>
				</thead>
			</table>
			<div>
				<table class="table table-bordered">
					<tbody>
						@foreach (var book in lstBooksDto)
						{
							<tr>
								<td style="width:20%">@book.Title</td>
								<td style="width:20%">@book.AuthorName</td>
								<td style="width:15%">@book.Price</td>
								<td style="width:15%">@book.StockQuantity</td>
								<td style="width:16%">@book.BookTypeName</td>
								<td style="width:14%">
									<button class="btn btn-sm btn-warning" @onclick="() => EditBook(book)">Edit</button>
									<button class="btn btn-sm btn-danger" @onclick="() => ConfirmDelete(book.BookId)">
										Delete
									</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>

		}
	</div>
	<div class="col-1"></div>
</div>
</div>
