@page "/login"
@page "/"
@* @inject Blazored.LocalStorage.ILocalStorageService localStorage *@
@rendermode InteractiveServer

@* <PageTitle>Authentication</PageTitle>
@* 
<div class="main">
    <div class="auth_container">
        <div class="top">
            <ul class="tabs">
                <li class="@(activeTab == "Register" ? "bg_w" : "")">
                    <button @onclick='() => SetActiveTab("SignIn")'
                            class="@(activeTab == "SignIn" ? "active" : "inactive_right")">
                        Sign in
                    </button>
                </li>
                <li class="@(activeTab == "SignIn" ? "bg_w" : "")">
                    <button @onclick='() => SetActiveTab("Register")'
                            class="@(activeTab == "Register" ? "active" : "inactive_left")">
                        Register
                    </button>
                </li>
            </ul>
            <figure>
                <img src="images/user.png" alt="user pic" class="user_img" />
            </figure>
        </div>

        <div class="bottom">
            @if (activeTab == "SignIn")
            {
                <SignIn redirect="SetActiveTab" />
            }
            else if (activeTab == "Register")
            {
                <Registration redirect="SetActiveTab" />
            }
        </div>

    </div>
</div> *@



<div class="row">
	<div class="col-4"></div>
	<div class="col-4">
		<h3 class="mt-2 mb-3 text-center">Login</h3>
        <EditForm Model="@model" OnValidSubmit="HandleLogin" FormName="ResdBookForm">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="mb-3">
				<label>Email</label>
				<InputText class="form-control" @bind-Value="model.Email" />
				<ValidationMessage For="@(() => model.Email)" />
			</div>

			<div class="mb-3">
				<label>Password</label>
				<InputText type="password" class="form-control" @bind-Value="model.Password" />
				<ValidationMessage For="@(() => model.Password)" />
			</div>

			<div class="text-left">
				<button class="btn btn-primary">Login</button>
                <button type="button" class="btn btn-primary" @onclick="ResetForm">Cancel</button>
			</div>

			@if (!string.IsNullOrEmpty(errorMessage))
			{
				<div class="text-danger mt-2">@errorMessage</div>
			}
        </EditForm>
        <p class="mt-2">
            Don't have an account?
            <a href="/userregister">Register here</a>
        </p>
		@* <button @onclick="OnButtonClick">Click Me</button> *@
		@* <button class="btn btn-primary" @onclick="Registeruser">Register</button> *@
	</div>
	<div class="col-4"></div>
</div>
@code {

}