@rendermode InteractiveServer

<!-- Modal to Add User -->
<div class="modal fade" id="AddUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="AddUserModalLabel">User Details</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<EditForm Model="@AdminAddUserForm" OnValidSubmit="AddUserSubmitHandler">
					<div class="">
						<DataAnnotationsValidator />
						<ValidationSummary />
						<div class="d-flex flex-column align-items-start">
							<label>Username :</label>
							<InputText @bind-Value="AdminAddUserForm.UserName" placeholder="Please Enter the UserName" class="w-75 " />
						</div>
						
						<div class="d-flex flex-column align-items-start">
							<label>Password :</label>
							<InputText @bind-Value="AdminAddUserForm.Password" placeholder="Please Enter Password" class=" w-75" />
						</div>
						
					</div>
					<div class="modal-footer">	
						<button type="submit" class="btn btn-primary">Add User</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</EditForm>
			</div>
		</div>
	</div>
</div>

<!-- Modal to conform delete -->
<div class="modal fade" id="DeleteConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="DeleteConfirmationModal">Confirm deletion</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				@if (DeleteConfirmationuser is not null)
				{
					<p>@(DeleteConfirmationuser.UserName) will be removed</p>
				}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" @onclick="() =>HandleInActive(DeleteConfirmationuser)">Delete</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<div class="user-manager-container w-75 mx-auto">

	<!-- Search Bar and filtering -->

	<div class="d-flex flex-column">
		<div class="d-flex mb-3 ">
			<input type="text" class="form-control me-2 w-25 fs-custom" placeholder="Search by username..." @bind="SearchText" />
			<button class="btn btn-info fs-custom" @onclick="SearchUsers">Enter</button>
		</div>

		<div class="d-flex align-items-center gap-3 fs-custom ms-4">
			<div class="form-check">
				<input class="form-check-input" type="radio" name="exampleRadios" id="radio1" value="all" checked @onchange="OnFilterChanged">
				<label class="form-check-label" for="radio1">
					All Users
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="exampleRadios" id="radio2" value="active" @onchange="OnFilterChanged">
				<label class="form-check-label" for="radio2">
					Active Users
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="exampleRadios" id="radio3" value="inactive" @onchange="OnFilterChanged">
				<label class="form-check-label" for="radio3">
					Inactive Users
				</label>
			</div>
		</div>
	</div>

	<!-- Add User -->

	<div>
		<button type="button" class="btn btn-dark rounded-0 fs-custom" data-bs-toggle="modal" data-bs-target="#AddUserModal">
			Add User
		</button>
	</div>


	<!-- Data Table -->
	<div class="table-container mb-2">
		<table class="table table-responsive table-striped table-bordered table-fs align-middle table-custom">
			<thead>
				<tr >
					<th class="userid">UserId</th>
					<th>UserName</th>
					<th>Password</th>
					<th>
						<div class="d-flex align-items-center">
							@if (IsOrderonCreateDate)
							{
								@if (Ascorder)
								{
									<button class="button-reorder" @onclick="Reorder"><img src="images/ascending_order.png" class="img-fluid" /></button>
								}
								else
								{
									<button class="button-reorder" @onclick="Reorder"><img src="images/descending_order.png" class="img-fluid" /></button>
								}
							}
						
							<button @onclick="OrderCreatedDate" class="button-custom">CreatedDate</button>
						</div>
					</th>
					<th>Creater Name</th>
					<th >
						<div class="d-flex align-items-center">
							@if (IsOrderonModifyDate)
							{
								@if (Ascorder)
								{
									<button class="button-reorder" @onclick="Reorder"><img src="images/ascending_order.png" class="img-fluid" /></button>
								}
								else
								{
									<button class="button-reorder" @onclick="Reorder"><img src="images/descending_order.png" class="img-fluid" /></button>
								}
							}
							<button @onclick="OrderModifyDate" class="button-custom">ModifiedDate</button>
						</div>
					</th>
					<th>Modifier Name</th>
					<th>Status</th>
					<th>Edit</th>
					<th>Change Status</th>
				</tr>
			</thead>

			<tbody >
				@if (UserDetails != null)
				{
					foreach (var user in UserDetails)
					{
						<tr>
							<td >@user.UserId</td>
							<td>@user.UserName</td>
							@if (user.IsEdit == false)
							{
								<td >@user.Password</td>
							}
							else
							{
								<td ><input @bind-value="user.Password" class="" /></td>
							}
							<td >@user.CreatedDate</td>
							<td >@user.CreatedBy</td>
							<td >@((user.ModifiedDate?.ToString() ?? "-"))</td>
							<td >@((user.ModifiedBy?.ToString() ?? "-"))</td>
							@if (user.IsEdit == false)
							{
								<td>@(user.IsActive ? "active" : "inactive")</td>
							}
							else
							{
								<td><InputCheckbox @bind-Value="user.IsActive" /></td>
							}

							@if (user.IsEdit == false)
							{
								<td>
									<button type="button" class="btn btn-primary table-fs equal-width-btn" @onclick="() => HandleEdit(user)">
										Edit
									</button>
								</td>

								@if (user.IsActive)
								{
									<td>
										<button type="button" class="btn btn-danger table-fs" data-bs-toggle="modal" data-bs-target="#DeleteConfirmationModal" 
										 @onclick="()=> DeleteConfirmationuser = user">
											Delete
										</button>
									</td>
								}
								else
								{
									<td>
										<button type="button" class="btn btn-danger table-fs" @onclick="() => HandleActive(user)">
											Activate
										</button>
									</td>
								}
							}

							else
							{
								<td>
									<button type="button" class="btn btn-success table-fs equal-width-btn" @onclick="() => HandleSubmit(user)">Save</button>
								</td>
								<td>
									<button type="button" class="btn btn-warning table-fs" @onclick="() => HandleCancel(user)">Cancel</button>
								</td>
							}
						</tr>
					}
				}
			</tbody>
		</table>
	</div>

	<!-- Pagination -->
	<div class="d-flex justify-content-end align-items-center align-content-center gap-4 ">
		<nav >
			<ul class="pagination m-0 ">
				<li class="page-item @(pagination.IsPrevious ? "" : "disabled")">
					<button class="page-link fs-custom" @onclick="pagination.PreviousPage">Previous</button>
				</li>

				@for (int i = 1; i <= pagination.TotalPages; i++)
				{
					int PageNumber = i;

					<li class="page-item @(pagination.CurrentPage == PageNumber ? "active" : "")">
						<button class="page-link fs-custom" @onclick="()=>pagination.ChangePage(PageNumber)">@PageNumber</button>
					</li>
				}

				<li class="page-item @(pagination.IsNext ? "" : "disabled")">
					<button class="page-link fs-custom" @onclick="pagination.NextPage">Next</button>
				</li>
			</ul>
		</nav>

		<div class="dropup-center dropup dropup-custom">
			<button class="btn bg-white border border-dark-subtle dropdown-toggle fs-custom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				@pagination.PageSize
			</button>
			<ul class="dropdown-menu">
				<li><button class="dropdown-item fs-custom" @onclick="()=>pagination.ChangePageSize(5)">5</button></li>
				<li><button class="dropdown-item fs-custom" @onclick="()=>pagination.ChangePageSize(8)">8</button></li>
				<li><button class="dropdown-item fs-custom" @onclick="()=>pagination.ChangePageSize(10)">10</button></li>
			</ul>
		</div>
	</div>
</div>

