@page "/clientsearchbooks"
<!-- AdminDashboard.razor -->
<div class="dashboard-background">
	<!-- Your dashboard content here -->
@rendermode InteractiveServer
<div class="page">
	<div class="top-row px-4 bg-dark text-white">
		<nav class="navbar navbar-expand">
			<UserMenu></UserMenu>
		</nav>
	</div> 
</div>
<div class="row mt-3">
	<div class="col-3"></div>
	<div class="col-3"></div>
	<div class="col-3"></div>
</div>
<div class="row mt-3">
	<div class="col-3"></div>
	<div class="col-6">

		<h3 class="mb-2 p-1">Search Books</h3>
		<input class="form-control" placeholder="Search by title or author..." @bind="searchText" @bind:event="oninput" />
	</div>
	<div class="col-3">

		@if (cartCount > 0)
		{
			<div class="cart-info">
				<button class="cart-button" @onclick="NavigateToCart">
					Cart <i class="fas fa-shopping-cart"></i> 
					<span class="cart-badge">@cartCount</span>
				</button>
			</div>
		}
	</div>
</div>
<div class="row mt-3">
	<div class="col-3"></div>
	<div class="col-6">
		<select class="form-select" @bind="selectedTypeId">
			<option value="">All Types</option>
			@foreach (var type in bookTypes)
			{
				<option value="@type.TypeId">@type.TypeName</option>
			}
		</select>
	</div>
	<div class="col-3"></div>
</div>
<div class="row mt-3">
	<div class="col-3"></div>
	<div class="col-6"><button class="btn btn-primary mb-3" @onclick="SearchBooksGrid">Search</button></div>
	<div class="col-3"></div>
</div>


<div class="container mt-4">
	@if (filteredBooks == null || !filteredBooks.Any())
	{
		<div class="text-center">
			<p>No records found.</p>
		</div>
	}
	else
	{
		<div class="row">
			@foreach (var book in filteredBooks)
			{
				<div class="col-md-3 mb-4">
					<div class="card h-100 shadow-sm">
						<img src="@book.ImageUrl" class="card-img-top" style="height:250px;width:100%" alt="@book.Title">
						<div class="card-body text-center">
							<h5 class="card-title">Title: @book.Title</h5>
							<h6 class="card-subtitle mb-2 text-muted">Author : @book.AuthorName</h6>
							@* <p class="card-text pb-0">Price: @book.Price</p> *@
							<h6 class="card-subtitle mb-2 text-muted">Price: @book.Price</h6>
							<p class="card-text">Type: @book.BookTypeName</p>
						</div>
						<div class="actions text-center mb-2">
							@* <button >❤️ Wishlist</button> *@
							<button @onclick="() => ToggleWishlistDto(book)" class="wishlist-btn">
								<span class="heart">@((book.WishlistInfo.IsWishlisted ? "❤️" : "🤍"))</span>
							</button>
							<button @onclick="() => AddToCart(book)">🛒 Add to Cart</button>
							<button @onclick="() => OpenBookDetails(book.BookId)">View Content</button>
						</div>
					</div>
				</div>
			}
		</div>
	}
</div>
<br />
<br />
</div>
@code {

}
