@page "/clientdashboard"
<div class="page">
	<div class="top-row px-4 bg-dark text-white">
		<nav class="navbar navbar-expand">
			<UserMenu></UserMenu>
		</nav>
	</div>
</div>

<div class="container mt-4">
	<h3 class="text-lg font-medium mb-3">Wishlist</h3>
	@if (lstWishListDto == null || !lstWishListDto.Any())
	{
		<div class="text-center">
			<p>No records found.</p>
		</div>
	}
	else
	{
		<div class="row">
			@foreach (var wishlist in lstWishListDto)
			{
				<div class="col-md-4 mb-4">
					<div class="card h-100 shadow-sm">
						<img src="@wishlist.ImageUrl" class="card-img-top" style="height:150px;width:100%" alt="@wishlist.Title">
						<div class="card-body text-center">
							<h5 class="card-title">Title: @wishlist.Title</h5>
							<h6 class="card-subtitle mb-2 text-muted">Author : @wishlist.AuthorName</h6>
							<h6 class="card-subtitle mb-2 text-muted">Price: @wishlist.Price</h6>
							<p class="card-text">Type: @wishlist.BookTypeName</p>
						</div>
						<div class="actions text-center mb-2">
							<button @onclick="() => ToggleWishlistDto(wishlist)" class="wishlist-btn">
								<span class="heart">@((wishlist.IsWishlisted ? "❤️" : "🤍"))</span>
							</button>
						</div>
					</div>
				</div>
			}
		</div>
	}
	<hr />
	<h3 class="text-lg font-medium mb-3">Recent Orders</h3>

	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">

			<table class="table table-striped table-bordered">
				<thead class="table-light">
					<tr>
						<th>OrderDate</th>
						<th>Image</th>
						<th>Title</th>
						<th>Price (₹)</th>
						<th>Quantity</th>
						<th>Total (₹)</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in cartItems)
					{
						<tr>
							<td>
								@item.DateAdded?.ToString("dd/MM/yyyy")
							</td>
							<td>
								<img src="@item.ImageUrl" alt="@item.Title" style="width: 50px;" />
							</td>
							<td>@item.Title</td>
							<td>@item.Price</td>
							<td>
								@item.Quantity
							</td>
							<td>@(item.Price * item.Quantity)</td>
						</tr>
					}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4" class="text-end"><strong>Grand Total:</strong></td>
						<td><strong>₹@grandTotal</strong></td>
					</tr>
				</tfoot>
			</table>
			@* </EditForm> *@
		</div>
		<div class="col-1"></div>
	</div>
</div>
 

@code {

}
